src/a.out
src/test
src/test.txt
src/main
src/main.exe
src/test_files/*
*.pdf
Reports/*.aux
Reports/*.bbl
Reports/*.blg
Reports/*.lof
Reports/*.log
Reports/*.lot
Reports/*.out
Reports/*.toc
Reports/*.snm
Reports/*.nav
Reports/*.tex.backup
theory/*
results/*
*~
*.o
