src/a.out
src/test.cpp
src/test.txt
src/*.o
src/test
src/main
src/main.exe
src/test_files/*
Reports/mid_sem.pdf
Reports/mid_sem.aux
Reports/mid_sem.bbl
Reports/mid_sem.blg
Reports/mid_sem.lof
Reports/mid_sem.log
Reports/mid_sem.lot
Reports/mid_sem.out
Reports/mid_sem.toc
Reports/mid_sem.tex.backup
theory/*
results/*
*~
*.o
